@import "tailwindcss";

.leftPart{
    width: 79px;
    height: 29rem;
    overflow-y: auto;
    scrollbar-width: none;
}
.mainImage{
    width: 30rem;
    height: 29rem;
    display: flex;
    justify-content: center;
}
.sizeBox{
    width: 63px;
    height: 45px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}
.colorBox{
    width: 36px;
    height: 36px;
    cursor: pointer;
}
.pageContent{
    justify-content: center;
    width: 88%;
    gap: 3rem;
    display: flex;
    flex-direction: row;
}
.productName{
    width: 400px;
    height: 27px;
    font-weight: 600;
    font-size: 30px;
    line-height: 27px;
}
.sizeAndColorAndPriceWordCSS{
    width: fit-content;
    height: 18px;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
}
.leftRightArrwosDiv{
    width: 28rem;
    height: 29rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    justify-content: space-between;
}
.addToCartButtonDiv{
    width: 292px;
    height: 52px;
    color: white;
}
.underButtonText{
    display: flex;
    padding-bottom: 1.6rem;
    text-align: left;
    width: 300px;
    display: inline-block;
    max-width: 297px;
    overflow-wrap: break-word;
}
.item1, .item2, .item3 {
    position: absolute;
    background-color: transparent;
    left: calc(50% - (var(--size) / 2));
    top: calc(50% - (var(--size) / 2));
    height: var(--size);
    width: var(--size);
    border-radius: 50%;
}

.loader .item1 {
    --size: 90px;
    animation: size1_1 2.5s infinite alternate;
    z-index: 1;
}

.loader .item2 {
    --size: 60px;
    animation: size1_2 2.5s infinite alternate;
    z-index: 2;
}

.loader .item3 {
    --size: 30px;
    animation: size1_3 2.5s infinite alternate;
    z-index: 3;
}

@keyframes size1_1 {
    0%,
    10% {
    transform: scale(0);
    }

    100% {
    transform: scale(1);
    box-shadow: 8px 8px 14px #c5c5c5, -8px -8px 14px #ffffff;
    }
}

@keyframes size1_2 {
    0%,
    40% {
    transform: scale(0);
    }

    100% {
    transform: scale(1);
    box-shadow: 8px 8px 14px #c5c5c5, -8px -8px 14px #ffffff;
    }
}

@keyframes size1_3 {
    0%,
    70% {
    transform: scale(0);
    }

    100% {
    transform: scale(1);
    box-shadow: 8px 8px 14px #c5c5c5, -8px -8px 14px #ffffff;
    }
}